<div class="grid pt-5">
  <div class="col-6 sm-12 col-offset-3 flex flex-row-reverse">
    <p-dropdown [options]="circuits" [formControl]="selected" (onChange)="selectItem()" optionLabel="name"></p-dropdown>
  </div>
  <div class="col-6 sm-12 col-offset-3 justify-content-center">
    <p-carousel [value]="responsiveOptions">
      <ng-template let-car pTemplate="item">
          <!-- <button pButton label="Content to display" type="button" (click)="openDialog = true"></button> -->
        </ng-template>
      </p-carousel>
  </div>
  <div class="col-6 sm-12 col-offset-3 justify-content-center">
    <p-table [value]="cars">
      <ng-template pTemplate="header">
          <tr>
              <th>Vin</th>
              <th>Year</th>
              <th>Brand</th>
              <th>Color</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr>
              <td>{{car.vin}}</td>
              <td>{{car.year}}</td>
              <td>{{car.brand}}</td>
              <td>{{car.color}}</td>
              <td style="text-align: center">
                <button pButton type="button" class="p-button-secondary" label="Details" (click)="openDialog = true"></button>
            </td>
          </tr>
      </ng-template>
  </p-table>
  <p-dialog header="Header" [(visible)]="openDialog" [style]="{width: '50vw'}">
    <div class="grid">
      <div class="col-6">
        <p>Name: Lewis Hamilton</p>
        <p>Age: 31</p>
        <p>Country: USA</p>
      </div>
      <div class="col-6">
        Picture
      </div>
    </div>
    <ng-template>
        <p-button icon="pi pi-check" (click)="openDialog = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
  </div>
</div>
