/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(94, 94, 94);
  background-image: url('../src/assets/f1.png');
  background-repeat: no-repeat;
  background-size:contain;
}
